<div>
  <div>
    <button (click)="addNewTask({task: null, status: true})">New Task</button>
  </div>
  <div>
    <div>
      List of tasks:
    </div>
    <div>
      <div *ngFor="let task of taskList">
        <div>
          <!-- <input type="checkbox" (click)="changeStatus(task)"/> -->
          <span>{{task.status}} --- </span>
        </div>
        <div>
          <span>{{task.title}}</span>
        </div>
        <div>
          <button (click)="removeTask(task)">X</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showAddNewTask">
  <app-createtask [showAddNewTask]='showAddNewTask' (closeAddNewTask)='addNewTask($event)'></app-createtask>
</div>